*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Main sidan börjar!! */
#secret-button {
    width: 0.1px;
    height: 0.1px;
    opacity: 0; 
    font-size: 1px; 
    border: none; 
    background: white; 
    position: absolute; 
    top: 10px; 
    left: 10px;
    cursor: pointer;
}

#yellow-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 0, 0.3); 
    z-index: 9999; 
    pointer-events: none;
}

/* Header börjar */
header{
    background-color: rgb(0,191,255);
    height: 50em;
    background-image: url("Header-bild.JPEG");
    background-size: cover;
    background-position: center;
    font-family: "Emblema One", serif;
}

nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
}

nav ul li {
    display: inline-block;
    padding: 1.4em;
    margin: 1.3em;
    background-color: rgb(0,0,255, 0.5);
    border-radius: 50%;
    transition: 0.5s;
}

nav ul li a{
    text-decoration: none;
    color: rgb(236, 243, 203);
    transition: 0.5s;
    
}

nav ul li.currentSite{
    background-color: #ffcd0493;
}

nav ul li:hover{
    background-color: #ffcc0096;
    transform: scale(1.2);
}
nav ul li a:hover{
    color: black;
}

.currentSite a{
    color: black;
}


#menu-toggle {
    font-size: 2em;
    cursor:pointer;
    position: absolute;
    top: 2em;
    right: 2em;
    color: #474aff; 
    display: none;
    transition: 0.6s;
}

#menu-toggle:hover {
    color: yellow;
}

#menu-toggle.active
{
    color: yellow;
}

/* Header slutar */
.grid-container{
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.0em;
    grid-template-areas:
    "left middle middle"
    "bottom bottom bottom";

}

/* Aside börjar */
.homeAside{
    background-color: royalblue;
    padding: 10%;
    background-image: url("Aside-picture.JPEG");
    background-size: cover;
    background-position: center;
    grid-area: left;
    
}

.homeAsideContent{
    background-color: rgba(39, 39, 39, 0.6);
    padding: 1em;
    margin: 1em;
    color: white;
    border-radius: 1em;
}

.aside-h3{
    font-size: 2.1em;
    margin: 0.5em 0.5em;
    display: flex;
    justify-content: center;
    font-family: "Emblema One", serif;
    color: rgb(236, 243, 203);
}

/* Main börjar */
.homeMain{
    background-color: rgb(3, 255, 255);
    padding: 1em;
    grid-area: middle;
    background-image: url("main2.jpg");
    background-size: cover;
    background-position: center;
    grid-area: middle;

}

.fun-fact{
    padding: 1em;
    margin: 1em;
    color: rgb(255, 204, 102);
    font-size: 1.2em;
    font-family: "Englebert", serif;
    line-height: 1.8;
    border: #5254ac solid 2px;
    border-radius: 1em;
}

.homeMainContent {
    background-color: rgba(0, 0, 0, 0.315);
    padding: 1em;
    margin: 1em;
    color: rgb(255, 255, 255);
    line-height: 1.8;
}

#mainHeading{
    font-size: 2em;
    margin: 0.5em 0.5em;
    display: flex;
    justify-content: center;
    color: rgb(236, 243, 203);
    font-family: "Emblema One", serif;
}

.homeMainContentEnd{
    display: flex;
    justify-content: center;
    color: rgb(236, 243, 203);
    
}

.mainText {
    color: #fdf0d6;
    font-size: 1.1em;
    font-family: "Englebert", serif;
}

.inlineLink {
    color: #fdf0d6;
    text-decoration: none;
    transition: color 0.3s ease;
}

.inlineLink:hover {
    color: #ffcc00;
    transform: scale(2.1em);
}
/* Main slutar */

/* Footer börjar */
.siteFooter {
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: center;
    padding: 2% 5%;
    font-size: 1.1em;
    grid-area: bottom;
}

.footerContent {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.footerLinks p {
    margin: 1em 0;
}

.footerLinks a {
    color: #4da6ff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footerLinks a:hover {
    color: #ffcc00;
}

.socialLinks a {
    margin: 0 2.5%;
    display: inline-block;
}

.socialLinks i {
    font-size: 2em;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-bottom: 1rem;
}

.socialLinks i:hover {
    color: #ffcc00;
    transform: scale(1.2);
}

.footerQuote em {
    font-size: 1.2em;
    color: #ffcc00;
    font-style: italic;
    
}

.footerBottom {
    margin-top: 2em;
    font-size: 0.875em;
    color: #999999;
}



/* Footer slutar */
/* Main sidan slutar */
/* About sidan börjar */

.aboutMain{
    padding: 3em;
    grid-area: middle;
    background-image: url("about-main.jpg");
    background-size: cover;
    background-position: center;
    grid-area: middle;
}

.aboutMainContent {
    background-color:rgba(0, 0, 0, 0.527);
    padding: 2em;
    margin: 1em;
    color: white;
    font-size: 1.2em;
}

#aboutHeading{
    color: rgb(236, 243, 203);
    font-family: "Emblema One", serif;
    display: block;
    text-align: center;
}

strong{
    font-size: larger;
}

.aboutMainText {
    color: #fdf0d6;
    font-size: 1.1em;
    font-family: "Englebert", serif;
    line-height: 1.5;
}

.aboutEnd {
    color: rgb(236, 243, 203);
    font-size: 1.2em;
    font-family: "emblema One", serif;
    text-align: center;
}
/* main about Slutar */

/* --------Main exprience börjar --------------- */

.experienceMain {
    color: #fdf0d6;
    min-height: 100vh; 
    background-image: url("work-picture.jpg");
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2em 0; 
    overflow: hidden; 
}


.experienceDiv {
    background-color: rgba(26, 26, 26, 0.8); 
    padding: 3em;
    width: 85%;
    max-width: 1200px; 
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}


.experienceHeader {
    text-decoration: underline;
    text-decoration-color: #474aff;
    font-size: 5vw;
    font-family: "Emblema One", serif;
    text-align: center;
    margin-bottom: 1em;
}


#gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    margin-top: 2em;
}


.job {
    background: rgba(255, 255, 255, 0.1);
    padding: 2em;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, background 0.3s;
}

.job:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.2);
}


.job h3 {
    font-size: 1.5vw;
    margin-bottom: 0.5em;
    color: #ffffff;
    font-family: "Emblema One", serif;
    text-align: center;
}


.job p {
    font-size: 1em;
    line-height: 1.6;
    color: #fdf0d6;
    font-family: "Englebert", serif;
}

.experienceDiv i {
    color: #7476f5;
}

.experienceDiv strong {
    color: #ffcc00;
}

/* ------------------------TechDeck börjar här--------------- */
#techdeck:hover {
    transform: translateY(-5px);
    background: rgba(255, 255, 255, 0.2);
}

#techdeck {
    text-align: center;
    padding: 1em;
    background-color: rgba(119, 118, 192, 0.295);
    border-radius: 10px;
}

#techdeck h1 {
    color: #001f3f;
}

#techdeck p, #techdeck ul {
    color: #333;
    font-size: 1.1rem;
}

.projekt img {
    width: 100%;
    border-radius: 10%;
}

.projekt h3 {
    text-align: center;
}


/* ------------------------------------------- POPUP --------------!*/
.popup-container {
    position: relative; 
    width: 30em; 
    height: 20em;
    background: rgb(0, 0, 0);
    overflow: hidden; /* Förhindrar att popupen går utanför */
    padding: 20px;
}

.popup-button {
    display: inline-block;
    margin-top: 1em;
    background: #4d45c7;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background 0.3s;
    text-decoration: none;
    padding: 0.7em;
}

.popup-button:hover {
    background: #ffcc00;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    height: auto;
    display: none;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
}

/* Popup-innehåll */
.popup-content {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease-in-out;
    color: #000000;
}

.popup-content p {
    color: #000000;
    font-size: 1.2em;
    line-height: 1.6;
}


#popup1:target {
    display: flex;
}

#popup2:target {
    display: flex;
}

#popup3:target {
    display: flex;
}

#popup4:target {
    display: flex;
}

.close {
    position: absolute;
    top: 0.5em;
    right: 0.5em;


    font-size: 2em;
    color: #000000;
    text-decoration: none;
}

.close:hover {
    color: #ffcc00;
}




/* ------------------------------------------SLUT PÅ POPUP --------------------------------------- */

/* ------ Början på github ikonen ------------- */
.popupGithub {
    display: flex;
    justify-content: right;
    margin-top: 1.5em;
}

.popupGithub a {
    padding: 0.2;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.popupGithub a:hover {
    transform: scale(1.2); /* Ökar storleken vid hover */
}


.popupGithub i {
    font-size: 2em; /* Justerar storlek */
    color: white; /* Vit färg för ikonen */
}



/* --------------Kontakt main börjar här --------------- */
#contactMain {
    background-color: #001f3f; /* Mörkblå bakgrund */
    font-family: 'Arial', sans-serif;
    color: #fd0c0c;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
}

.my-3 {
    color: #001f3f;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

label {
    color: #001f3f;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 2px solid #001f3f;
    border-radius: 5px;
    font-size: 1rem;
    background: #f8f8f8;
    color: #333;
}

input:focus, textarea:focus {
    border-color: #ffcc00;
    outline: none;
    box-shadow: 0 0 5px #ffcc00;
}

button {
    width: 100%;
    background-color: #ffcc00;
    color: #001f3f;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background-color: #e6b800;
}

.text-gray-400 {
    color: #bbb !important;
}

.invalid-feedback {
    display: none;

}

/* --------------------    -------------------- */

/* Media query 1 av 3 för alla sidor! */
@media (max-width: 1160px) {
    header {
        height: 30em;
    }


    #menu-toggle {
        display: inline;
        z-index: 1000;
        position: fixed;
    }


    nav ul {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(71, 74, 255, 0.9);
        text-align: center;
        justify-content: center; 
        align-items: center; 
        z-index: 999; 
    }
    
    nav ul li {
        width: 80%; 
        max-width: 15em; 
        margin: 10px 0; 
    }
    
    nav ul li a {
        display: block;
        width: 100%; /* Täcker hela `li` för att vara klickbar */
        padding: 15px; 
        text-decoration: none;
        color: white;
        border-radius: 5px;
    }
    

    .homeMainContent {
        line-height: 1.5;
    }

    .aside-h3 {
        font-size: 1.5em;
    }

    .grid-container {
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.0em;
        grid-template-areas:
        "left left left"
        "middle middle middle"
        "bottom bottom bottom";
    }

    .siteFooter {
        font-size: 14px;
        padding: 15px;
    }

    .aboutMain{
        padding: 1em;
    }
    
    .aboutMainContent {
        
        padding: 1em;
        margin: 0.8em;
        color: white;
        font-size: 1.0em;
        line-height: 1.4;
    }
    
    #aboutHeading{
        color: rgb(236, 243, 203);
        font-family: "Emblema One", serif;
        font-size: 190%;
    }
    
    strong{
        font-size: large;
    }
    
    .aboutMainText {
        font-size: 1em;  
        line-height: 1.4;
    }

    .aboutEnd{
        font-size: 1em;
    }


    .experienceDiv {
        width: 95%; 
        padding: 2em; 
    }

    #gridContainer {
        grid-template-columns: 1fr; 
    }

    .experienceHeader {
        font-size: 7vw; 
    }

    .job {
        padding: 1.5em;
    }

    .experienceMain {
        padding: 1em 0;
        background-size:cover ; 
        background-position:right;

    }
}

/* Media query 2 av 3 */
@media (max-width: 900px){
    .experienceMain {
        background-image: url("Body-Bild.JPEG");
        background-position: center; 
        background-size: center; 
    }


    
}


@media screen and (max-width: 534px) {
    .experienceMain {
        background-position: center;
        padding: 1em 0; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .experienceDiv {
        width: 90%;
        max-width: 350px; 
        padding: 1.5em;
        border-radius: 8px;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }

    .experienceHeader {
        font-size: 6vw;
        text-align: center;
    }

    #gridContainer {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-top: 1em;
        width: 100%;
    }

    .job {
        padding: 1em;
        width: 100%;
        box-sizing: border-box;
    }
    

    .projekt h3, .job h3 {
        font-size: 5.2vw;
        text-align: center;
    }

    .job p {
        font-size: 0.9em;
        line-height: 1.4;
    }

    .projekt img {
        width: 100%;
        max-width: 300px;
        display: block;
        margin: 0 auto;
        border-radius: 5%;
    }

    #techdeck {
        padding: 1em;
        width: 100%;
        text-align: center;
    }

    #techdeck p, #techdeck ul {
        font-size: 1rem;
    }
}



.show-menu {
    display: flex !important;
}





